.header {
    margin-top: 10px;
    width: 100%;
    align-items: center;
}

.HS {
    display: inline-block;
    font-size: 15px;
    color: white;
    align-items: center;
}

.header h2 {
    float: right;
    font-size: 20px;
    color: black;
    align-items: center;
}

#quiz {
    margin-top: 50px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;

}

.questions {
    font-size: 30px;
    margin-bottom: 10px;
    color: black;
}

.answers {
    font-size: 15px;
    color: white;
    background-color: blueviolet;
    border-radius: 5px;
    align-content: space-between;
}

.answers:hover {
    background-color: orchid;
}

button {
    color: white;
    background-color: blueviolet
}

#results {
    font-size: 15px;
    color: black;
}